# IDEs
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS files
.DS_Store
Thumbs.db

# Android / Gradle
build/
.gradle/
local.properties
*.apk
*.aab

# Dependencies
node_modules/
dist/
.env

# Temporary files
*.log
tmp/
